.page {
  padding: 0 var(--padding-small, 10px);
  color: var(--color-accent, #ff0070);
  font-family: var(--font-primary, 'IBM Plex mono', Helvetica, Arial, sans-serif);
  font-weight: var(--font-weight-regular, 400);
  line-height: var(--line-height-main, 1.3);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 
                    var(--row-size-decor, clamp(36px, 6vw, 46px)) 
                    var(--row-size-theme-menu, clamp(137px, 32vw, 244px)) 
                    var(--row-size-title, clamp(257px, 36vw, 272px)) 
                    var(--row-size-description, clamp(238px, 61vw, 462px));
  grid-template-areas:
                    "decorated-element"
                    "theme-menu"
                    "title"
                    "description";
  margin-block-end: var(--margin-medium-s, 40px);
  block-size: max(668px, 100%);
}

.decorated-zone::after,
.decorated-zone::before,
.header__decorated-element::after,
.header__decorated-element::before {
  content: '';
  position: absolute;
}

.decorated-zone::after,
.decorated-zone::before {
  inline-size: var(--position-size, 25px);
  block-size: var(--position-size, 25px);
}

.decorated-zone::after {
  top: var(--position-small, 10px);
  right: var(--position-none, 0);
  border-inline-end: var(--border-width, 1px) solid currentColor;
  border-block-start: var(--border-width, 1px) solid currentColor;
}

.decorated-zone::before {
  bottom: var(--position-small, 10px);
  left: var(--position-none, 0);
  border-inline-start: var(--border-width, 1px) solid currentColor;
  border-block-end: var(--border-width, 1px) solid currentColor;
}

.header__decorated-element::after {
  content: 'REC';
  top: var(--position-small, 10px);
  right: 28px;
  line-height: var(--line-height-medium, 1.39);
  inline-size: 33px;
  block-size: 26px;
  display: var(--display, block);
}

.header__decorated-element::before {
  top: 18px;
  right: 9px;
  grid-area: decorated-element;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px currentColor;
  background-color: currentColor;
  inline-size: 9px;
  block-size: 9px;
  display: var(--display, block);
}

.header__theme-menu {
  grid-area: theme-menu;
  place-self: end;
}

.header__theme-menu-item:not(:last-of-type) {
  margin-block-end: var(--margin-small-s, 10px);
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: var(--border-width, 1px) solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: var(--border-width, 1px) solid var(--hover, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus,
.section__article-description_link:focus {
  outline: var(--outline-none, none);
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 0 currentColor;
  outline: var(--border-width, 1px) solid transparent;
}

.common__title {
  color: var(--color-title, #db00ff);
  font-size: clamp(6.44rem, 1.02vw + 6.23rem, 6.67rem);
  line-height: var(--line-height-large, 0.83);
}

.header .common__title {
  grid-area: title;
  place-self: end start;
  text-shadow: 4px 4px 0 var(--color-shadow, #ff0070);
}

.background-decor {
  color: var(--color-subtitle, #000028);
  background-color: var(--color-background, #ff0070);

}

.header__description {
  grid-area: description;
  place-self: center end;
  margin-block-end: var(--margin-small-s, 10px);
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height-main, 1.3);
  inline-size: 355px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--gap-medium, 20px);
}

.section:not(:last-of-type) {
  margin-block-end: var(--margin-medium-m, 50px);
}

.section-title {
  font-weight: var(--font-weight-bold, 700);
  font-size: inherit;
}

.section__article-subtitle {
  font-weight: var(--font-weight-regular, 400);
}

.section__article-description {
  margin-block-start: var(--margin-small-s, 10px);
  color: var(--color-content, #f1b2ce);
}

.section__article-description-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-link, #ff0070);
}

.section__article-description-link:hover {
  box-shadow: 0 1px 0 0 var(--color-content, #f1b2ce);
  outline: var(--border-width, 1px) solid transparent;
}

.section__article-description-link:focus-visible {
  outline: var(--border-width, 1px) solid var(--color-content, #f1b2ce);
}

.section__article-list-item:not(:nth-child(1)) {
  margin-block-start: 20px;
}

.section__content-gallery,
.section__article-picture {
  gap: var(--gap-small, 10px);
}

.section__article-picture {
  display: grid;
}

.section__article-picture-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  margin-block-start: var(--margin-medium-s, 40px);
  min-block-size: 668px;
}

.footer .common__title {
  text-shadow: 2px 2px 0 var(--color-shadow, #ff0070);
}